<p>register works!</p>
<br>







<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <a routerLink="/login" class="float-right btn btn-outline-primary mt-1">Log in</a>
                    <h4 class="card-title mt-2">Sign up</h4>
                </header>
                <article class="card-body">
                    <form [formGroup]="userform" novalidate (ngSubmit)="save()">
                        <div class="form-row">
                            <div class="col form-group">
                                <label>Name </label>
                                <input type="text" class="form-control" placeholder="" formControlName='fname'>
                                <small
                                    *ngIf="userform.get('fname').touched && userform.get('fname').hasError('required')">
                                    Firstname is required</small><br>
                                <small
                                    *ngIf="userform.get('fname').touched && userform.get('fname').hasError('minlength')">
                                    name should be of minimum 6 characters</small>
                            </div> <!-- form-group end.// -->

                        </div> <!-- form-row end.// -->
                     
                        <!-- form-group end.// -->



                        <div class="form-group">
                            <label>Username</label>
                            <input class="form-control" type="text" formControlName="username">
                            <small
                                *ngIf="userform.get('username').touched && userform.get('username').hasError('required')">
                                username is required</small>
                        </div>
                        <div class="form-group">
                            <label>Create password</label>
                            <input class="form-control" type="password" formControlName="password">
                            <small
                                *ngIf="userform.get('password').touched && userform.get('password').hasError('required')">
                                password is required</small>
                        </div> <!-- form-group end.// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block mt-4" >
                                Register </button>
                        </div> <!-- form-group// -->
                        <!-- <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                           -->
                    </form>
                </article> <!-- card-body end .// -->
                <!-- <div class="border-top card-body text-center" routerLink="/login">Have an account? <a href="">Log In</a>
                </div> -->
            </div> <!-- card.// -->
        </div> <!-- col.//-->

    </div> <!-- row.//-->


</div>
<!--container end.//-->